@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


@import "tailwindcss";

@theme {
  --font-lora:'Lora Code', 'serif';
  --font-libre-baskerville: 'Libre Baskerville', 'serif';
  --font-fira: 'Fira Code', 'monospace';
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-move {
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
